QWidget {
    background-color: rgba(150, 150, 150, 50);
    color: rgba(0, 0, 0, 225);
}

QHeaderView::section {
    background-color: qlineargradient(spread:pad, x1:0, y1:0.398182, x2:1, y2:0, stop:0 rgba(216, 216, 216, 255), stop:0.55 rgba(163, 163, 163, 255), stop:0.98 rgba(109, 109, 109, 255), stop:1 rgba(0, 0, 0, 0));
    padding: 1px;
    border: 1px solid #fffff8;
    font-size: 11pt;
}

QTableWidget {
    gridline-color: #fffff8;
    font-size: 12pt;
}

QTableWidget QTableCornerButton::section {
    background-color: #757575;
    border: 1px solid #fffff8;
}